*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.container h1{
    font-size: 60px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.date-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.date-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.date-box button{
    background: yellow;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}